<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>MP2</title>
</head>
<body>

        <!-- 
        {% for item in data %}
            <h3>The current seed is {{data.num}}</h3>
        {% endfor %}
        -->
        <h3>The current seed is {{data.num}}</h3>

    <form action="/" method="post">
        <input type="number" name="newNum" placeholder="Enter new seed number">
        <input type="submit">
    </form>

</body>
</html>